@import "../../../styles/variables.scss";

.hire-item {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid rgba($color: $gray, $alpha: 0.2);

  @media (max-width: 425px) {
    padding: 8px 0;
  }

  & > span {
    color: $gray;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

    @media (max-width: 425px) {
      font-size: 12px;
    }
  }

  & > h4 {
    color: $white;
    font-family: "Montserrat", sans-serif;
    margin: 4px 0;

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }

  & > a {
    text-decoration: none;
    color: $yellow;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

    @media (max-width: 425px) {
      font-size: 12px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
