@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "../../../styles/variables.scss";

.alice-carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  & > div {
    &:first-of-type {
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__dots {
    position: absolute;
    bottom: 12%;
    left: 15%;

    & > .__active {
      background-color: $green !important;
      box-shadow: 0 0 0 4px $green;
    }

    &-item {
      background-color: $black !important;
    }
  }

  &__prev-btn,
  &__next-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 6px;
    border-radius: 50%;
    background-color: $green;
    transition: 0.3s;

    &:hover {
      width: 32px;
      height: 32px;

      & span {
        font-size: 18px !important;
      }
    }

    & span {
      color: $black;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      transition: 0.3s;
    }
  }

  &__prev-btn {
    left: 28px;
    text-align: start;

    &:hover {
      left: 24px;
    }
  }

  &__next-btn {
    right: 28px;
    text-align: end;

    &:hover {
      right: 24px;
    }
  }
}
